<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Test Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="886778">  <td>20/07/17 00:17:19</td>   <td>0</td> <td title="&gt;&gt;BaseClass.testBeforeSuite()[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&gt;&gt;testBeforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>20/07/17 00:17:19</td>   <td>8</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setExtent()[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>20/07/17 00:17:19</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(java.lang.String)[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>20/07/17 00:17:53</td>   <td>33669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.Setup()[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&gt;&gt;Setup</td> 
<td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="616362">  <td>20/07/17 00:17:53</td>   <td>33674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CreateCustomer.TestCreateCustomer()[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">TestCreateCustomer</td> 
  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>20/07/17 00:18:19</td>   <td>60277</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>20/07/17 00:18:20</td>   <td>61000</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>20/07/17 00:18:20</td>   <td>61012</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.AfterTest()[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&lt;&lt;AfterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
<tr bgcolor="886778">  <td>20/07/17 00:18:20</td>   <td>61072</td> <td title="&lt;&lt;BaseClass.testAfterSuite()[pri:0, instance:com.autoleap.Testcase.CreateCustomer@4493d195]">&lt;&lt;testAfterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1615056168</td>   <td></td> </tr>
</table>
